* {
    margin: auto;
    padding: 0;
    /* Box sizing keeps the button in 100% width without going outside the border radius */
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1{
    margin: 1rem;
}

p{
    margin-top: 1rem;
}

/* Heading Styles */

h2{
    width: 100%;
    border-bottom: 2px solid #ccc;
    margin-top: 1rem;
}

/* Emoji Styles */

.emoji{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}

span{
    display: flex;
    font-size: 5rem;
    order: -1;
}

/* Button Styles */

a{
    text-decoration: none;
    color: white;
    background-color: #8000af;
    border-radius: 10px;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
}

/* Grid Styles */

.emojis{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

